version: "3.9"

services:

  backend:
    build: ./backend
    container_name: centralized_update_backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - ./ansible:/app/ansible
      - ~/.ssh/id_rsa.pub:/app/ssh/id_rsa.pub:ro
    depends_on:
      - ansible_runner

  ansible_runner:
    build: ./ansible_runner
    container_name: centralized_update_ansible_runner
    volumes:
      - ./ansible:/ansible
    command: ["sleep", "infinity"]

