- hosts: all
  gather_facts: no
  tasks:

    - name: Update selected packages to latest
      when: item.version == "latest"
      apt:
        name: "{{ item.name }}"
        state: latest
        update_cache: yes
      loop: "{{ packages }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Update selected packages to specific versions
      when: item.version != "latest"
      apt:
        name: "{{ item.name }}={{ item.version }}"
        state: present
        update_cache: yes
      loop: "{{ packages }}"
      loop_control:
        label: "{{ item.name }}={{ item.version }}"

    - name: Show summary
      debug:
        msg: "{{ packages }}"
