- hosts: all
  gather_facts: no
  tasks:

    - name: Get installed packages
      shell: apt list --installed
      register: installed_output

    - name: Get upgradable packages
      shell: apt list --upgradable
      register: upgradable_output

    - name: Extract package names from upgradable list
      set_fact:
        upgradable_names: "{{ upgradable_output.stdout_lines | map('regex_search', '^(.*?)/') | list }}"

    - name: Get available version list for each upgradable package
      shell: apt-cache madison {{ item }}
      loop: "{{ upgradable_names }}"
      register: version_list_output

    - name: Get changelogs
      shell: apt changelog {{ item }}
      loop: "{{ upgradable_names }}"
      register: changelog_output

    - name: Show combined results
      debug:
        msg:
          installed: "{{ installed_output.stdout }}"
          upgradable: "{{ upgradable_output.stdout }}"
          version_list: "{{ version_list_output.results }}"
          changelogs: "{{ changelog_output.results }}"
