- hosts: "{{ target }}"
  become: yes
  gather_facts: no

  tasks:

    - name: Get current installed version
      shell: dpkg -s {{ package }} | grep Version | awk '{print $2}'
      register: old_version_output
      ignore_errors: yes

    - name: Update to latest
      when: version == "latest"
      apt:
        name: "{{ package }}"
        state: latest
        update_cache: yes
      register: update_output

    - name: Update to specific version
      when: version != "latest"
      apt:
        name: "{{ package }}={{ version }}"
        state: present
        update_cache: yes
      register: update_output

    - name: Get new version after update
      shell: dpkg -s {{ package }} | grep Version | awk '{print $2}'
      register: new_version_output
      ignore_errors: yes

    - debug:
        msg:
          package: "{{ package }}"
          old_version: "{{ old_version_output.stdout | default('unknown') }}"
          new_version: "{{ new_version_output.stdout | default('unknown') }}"
          notes: "{{ update_output }}"
