- hosts: all
  gather_facts: no
  tasks:

    - name: Update to latest version
      when: version == "latest"
      apt:
        name: "{{ package }}"
        state: latest
        update_cache: yes
      register: result_latest

    - name: Update to specific version
      when: version != "latest"
      apt:
        name: "{{ package }}={{ version }}"
        state: present
        update_cache: yes
      register: result_specific

    - name: Return results
      debug:
        msg:
          changed: true
          package: "{{ package }}"
          version: "{{ version }}"
          result_latest: "{{ result_latest | default('') }}"
          result_specific: "{{ result_specific | default('') }}"
