- hosts: all
  gather_facts: no
  become: yes

  tasks:

    - name: Update apt cache once
      apt:
        update_cache: yes
      changed_when: false

    - name: Update selected packages to latest
      when: item.version == "latest"
      apt:
        name: "{{ item.name }}"
        state: latest
      loop: "{{ packages }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Update selected packages to specific versions
      when: item.version != "latest"
      apt:
        name: "{{ item.name }}={{ item.version }}"
        state: present
      loop: "{{ packages }}"
      loop_control:
        label: "{{ item.name }}={{ item.version }}"

    - name: Show summary
      debug:
        msg: "{{ packages }}"
